* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: url("../images/nutriimage4.jpeg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  

}
.homepage #navbar {
  /* background-image: url("../images/nutriimage4.jpeg"); */
  background-color: transparent;
  z-index: 100;
  border: none;
  border-bottom: 2px solid lightgrey;
}


.homepage #navbar .logo img {
  max-width: 100%;
  height: 100px;
  border-radius: 10px;
  margin-left: 10px;
}
.home-page-hero {
  /* background-image: url("../images/nutriimage4.jpeg"); */
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.hero-background-image-home {
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.display-image{
  height: 450px;
  width: 50%;
  border-radius: 20px;
}
.home-page-hero div {
  color: black;
  font-size: 1.5rem;
  
  margin-bottom: 50px;
}
.home-page-hero div h1 {
  color: black;
  backdrop-filter: blur(10px);
  font-size: 30px;
  text-align: center;
  margin-left: 90px;
  text-align: left;
}
.home-page-hero div .p {
  color: #000000cc;
  padding: 20px;
  text-align: left;
}
.home-page-hero div h1::first-letter {
  font-size: larger;
}
.btn a {
  color: #000;
  margin: 0%;
  font-size: 15px;
  font-family: Impact, sans-serif;
}
.btn1 a {
  color: #000;
  margin: 0%;
  font-size: 15px;
  font-family: Impact, sans-serif;
}
.btn{
    width: 100px;
    height: 50px;
    margin-top: 25px;
  transition: 1.5s;
  border-radius: 5px;
  border: none;
  border:1px solid black;
  background-color: white;
  margin-right: 12px;
}
.btn:hover {
  transform: scale(1.1);
}
.btn1:hover {
  transform: scale(1.1);
}
.btn1{
    width: 100px;
    height: 50px;
    margin-top: 25px;
  transition: 1.5s;
  border-radius: 5px;
  background-color: transparent;
  margin-right: 12px;
  color: white;
  border:1px solid black;
}
.btt {
  margin-right: 50px;
}
#cards {
  display: flex;
  align-items:center;
  justify-content: center;
  margin-top: 50px;
}
#cards #card1 {
  height: 200px;
  width: 200px;
  border-radius: 5%;
  background: #f3efef;
  margin: 50px;
}

#card-text {
  text-align: center;
  margin-top: 20%;
  font-size: 1.2rem;
}
.extra {
  display: flex;
  align-items: center;
  justify-content: left;
}
.extra1 {
  height: 300px;
  width: 300px;
  margin: 30px 30px 40px 40px;
  border-radius: 10px;
}

.extras {
  display: flex;
  align-items: center;
  justify-content: right;
}
.extra2 {
  height: 300px;
  width: 300px;
  margin: 0px 40px 40px 20px;
  border-radius: 10px;
}
.p2{
  margin-left: 20px;
  
}
@media only screen and (max-width: 960px) {
  .homepage #navbar {
    width: 100%;
  }
  .btt {
    max-width: 50%;
  }
  .p {
    display: none;
  }
}

@media only screen and (max-width: 750px) {
  .hero-background-image-home {
    flex-direction: column;
  }
  .display-image {
    width: auto;
  }
  .hero-background-image-home h1 {
    margin-top: 20px;
  }
  .extras {
    padding-left: 7px;
  }
  .extra2,
  .extra1 {
    height: auto;
    width: auto;
  }
  .p1 {
    display: none;
  }
}
@media only screen and (max-width: 570px) {
  .btn,
  .btn1 {
    width: auto;
    height: auto;
  }
}
#about-page{
  text-align: center;
  margin: auto;
  padding: 20px;
  line-height: 30px;
  color: black;
  font-size: 20px;
}
.sec3{
  background: linear-gradient(to bottom, #f9f9f9, lightgray);
  padding: 40px 20px;
 border-top: 1px solid #ddd;
 margin-top: 120px;
}