* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: url("../images/nutriimage4.jpeg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
}
.homepage #navbar {
  /* background-image: url("../images/nutriimage4.jpeg"); */
  background-color: transparent;
  z-index: 100;
  border: none;
  border-bottom: 2px solid lightgrey;
}

.homepage #navbar .logo img {
  max-width: 100%;
  height: 100px;
  border-radius: 10px;
  margin-left: 10px;
}
.nav-toggle {
  display: none;
}
.home-page-hero {
  /* background-image: url("../images/nutriimage4.jpeg"); */
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.hero-background-image-home {
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.display-image {
  height: 430px;
  width: 50%;
  border-radius: 20px;
}
.home-page-hero div {
  color: black;
  font-size: 1.2rem;
 
  margin-bottom: 50px;
}
.intro-txt{
  display: block;
  margin-left: 90px;
  text-align: center;
}
.home-page-hero div h1 {
  color: black;
  backdrop-filter: blur(10px);
  margin-left: 15px;
  text-align: left;
}
.home-page-hero div .p {
  color: #000000cc;
  padding: 20px;
  text-align: left;
}
.home-page-hero div h1::first-letter {
  font-size: larger;
}
.btn a {
  color: #000;
  margin: 0%;
  font-size: 15px;
  font-weight: bold;
}
.btn1 a {
  color: #000;
  margin: 0%;
  font-size: 15px;
  font-weight: bold;
  
}
.btn {
  width: 100px;
  height: 50px;
  margin-top: 25px;
  transition: 1.5s;
  border-radius: 5px;
  
  border: none;
  background-color:white;
  margin-right: 12px;
}
.btn:hover {
  transform: scale(1.1);
}
.btn1:hover {
  transform: scale(1.1);
}
.btn1 {
  width: 100px;
  height: 50px;
  margin-top: 25px;
  transition: 1.5s;
  border-radius: 5px;
  background-color: #1dfc55ec;
  margin-right: 12px;
  color: white;
  border: none;
}
.btt {
  margin-right: 50px;
}
#cards {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  justify-content: space-around;
}
#cards #card1 {
  height: 200px;
  width: auto;
  border-radius: 5%;
  background: #f3efef;
}

#card-text {
  text-align: center;
  margin-top: 20%;
  font-size: 1.2rem;
  padding: 4.5px;
}
.extra {
  display: flex;
  align-items: center;
  justify-content: left;
}
.extra1 {
  height: 300px;
  width: 300px;
  margin: 30px 30px 40px 40px;
  border-radius: 10px;
}

.extras {
  display: flex;
  align-items: center;
  justify-content: right;
}
.extra2 {
  height: 300px;
  width: 300px;
  margin: 0px 40px 40px 20px;
  border-radius: 10px;
}
.p2{
  margin-left: 20px;
  
}
@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%); /* Menu starts off-screen to the right */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* Menu slides in from the right */
  }
}

@media only screen and (max-width: 960px) {
  .homepage #navbar {
    width: 100%;
  }
  .btt {
    max-width: 50%;
  }
  .p {
    display: none;
  }
}

@media only screen and (max-width: 750px) {
  .hero-background-image-home {
    flex-direction: column;
  }
  .display-image {
    width: auto;
  }
  .hero-background-image-home h1 {
    margin-top: 20px;
  }
  .extras {
    padding-left: 7px;
  }
  .extra2,
  .extra1 {
    height: auto;
    width: auto;
  }
  .p1 {
    display: none;
  }
  .nav-toggle {
    position: relative;
    display: block;
  }

  .nav-toggle:after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 20px;
    height: 20px;
    background-image: url("../images/navopen.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  .nav-toggle.open:after {
    background-image: url("../images/navclose.svg");
  }
  .btt {
    position: absolute;
    top: 40px;
    right: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50%;
    visibility: hidden;
  }
  .btt button {
    justify-content: center;
    align-items: end;
    align-self: flex-end;
    /* animation: slideInRight 0.5s ease-in-out forwards; */
  }
  /* .btt {
    animation: slideInRight 0.5s ease-in-out forwards; 
  }  */

  .show {
    /* display: block; */
    visibility: visible;
    animation: slideInRight 0.5s ease-in-out forwards;
  }
}
@media only screen and (max-width: 570px) {
  #cards #card1 {
    height: auto;
    gap: 5px;
  }
}
#about-page {
  text-align: center;
  margin: auto;
  padding: 20px;
  line-height: 30px;
  color: black;
  font-size: 20px;
}
.sec3 {
  background: linear-gradient(to bottom, #f9f9f9, lightgray);
  padding: 40px 20px;
  border-top: 1px solid #ddd;
  margin-top: 120px;
}
