* {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

#navbar {
  max-height: 100px;
  border: 2px solid #ccff99;
  display: flex;
  justify-content: space-between;
  right: 0%;
  top: 0%;
  left: 0%;
  flex-direction: row;
  background-color: white;
}

#navbar .logo {
  max-width: 100px;
  height: 100px;
  margin-left: 10px;
}

nav {
  position: relative;
  margin-top: 30px;
}

nav > ul {
  display: flex;
  width: 500px;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-right: 10px;
  text-decoration: none;
}
a {
  text-decoration: none;
}

ul > li {
  list-style: none;
}

ul > li > a {
  text-decoration: none;
}

nav > ul > li > a:hover {
  color: #e69900;
}

nav > ul > li {
  position: relative;
}

nav > ul > li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: blue;
  transition: width 0.5s ease;
}

nav > ul > li:hover::after {
  width: 100%;
}

.hero-section {
  display: flex;
  padding-top: 20px;
}

.hero-section > div {
  flex: 1;
  padding: 10px;
}

.heroImage {
  border-radius: 10%;
}

.hero-background-image {
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-background-image > h1 {
  text-align: center;
}

.chat {
  padding: 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-weight: bold;
  background-color: transparent;
}
.chat a {
  color: #000;
}
.chat:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}

.hero-background-image .nutriBR {
  color: #ccff99;
}

.meal-suggestions {
    display: flex;
    /* justify-content: space-between; */
    margin-top:50px;
  }
  
  .meal-plan-card {
    width: 50%;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    list-style-type: none;
  }
  
  .meal-plan-card img {
    width: 100%;
    height: 150px; /* Adjust image height as needed */
    object-fit: cover; /* Ensure image fills the space */
  }
  

.mlogin {
  width: 130px;
  height: 50px;
  background: #1dfc55ec;
  border:none;
  outline: none;
  border-radius: 6px;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  margin-top: 25px;
  margin-right: 50px;
  transition: 1.5s;
  color: #000;
}
.mlogin:hover {
  transform: scale(1.1);
}

.mealPlanForm  {
  text-align: center;
  width: 40%;
 
  padding: 20px;

  border-radius: 10px;
  margin: auto;
  margin-top: 100px;
}
.mealPlanForm form {
  text-align: center;
 width: fit-content;
 
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
   

}

.mealPlanForm #inputForm,
#showMealDetail {
  width: 30%;
}

.mealPlanForm label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.mealPlanForm input[type="text"],
.mealPlanForm textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.mealPlanForm input[type="text"]::placeholder,
.mealPlanForm textarea::placeholder {
  color: #999;
}

#mealDescription {
  height: 150px;
}
.main {
  text-align: center;
  
}
.display-pic {
  height: 200px;
  width: 200px;
  margin-top: 50px;
}
.mealPlanForm #submitMeal,
#edit {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.mealPlanForm #submitMeal:hover,
.edit-btn:hover {
  background-color: #0056b3;
}

#devBox {
  width: 00px;
  height: 200px;
  border: 1px solid burlywood;
  position: relative;
}

#descCloseBtnBox #edit {
  width: 20%;
  position: absolute;
  top: 0px;
  right: 5px;
}

#viewDescriptionBox {
  margin-top: 5px;
  margin-left: 5px;
}

.delete-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}

form {
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.724);
  padding: 30px;
  width: 30%;
  border-radius: 10px;
  text-align: center;
  padding-right: 45px;
}
.container button{
  width: 50%;
  padding: 10px;

  border: none;
  background-color: #1dfc55ec;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 10px;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 100px;
}

.container label {
  display: block;
  margin-bottom: 5px;
}

#password,
#password2,
#username,
#email {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 15px;
  outline-color: #4caf50;
}

input[type="submit"],
.btn-n {
  width: 50%;
  padding: 10px;

  border: none;
  background-color: #1dfc55ec;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 10px;
}
.btn-n {
  width: 20%;
  margin-top: 50px;
}
.btn-n a{
  color: #000;
}
.container button:hover {
  opacity: 0.8;
}

.container a {
  color: #4caf50;
  text-decoration: none;
}

.close-outline {
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 30px;
  color: #999;
  cursor: pointer;
}

.input-icon {
  position: relative;
}

.input-icon input[type="text"] {
  padding-left: 5px;
}

.input-icon .icon {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-80%);
  pointer-events: none;
}
.eyel {
  position: absolute;
  right: 0px;
  top: 50%;
}
.eye {
  position: absolute;
  right: 0px;
  top: 32%;
  transform: translateY(-150%);
}
.eye1 {
  position: absolute;
  right: 0px;
  top: 72%;
}
.nav-toggle {
  display: none;
}
.meal-details {
  padding-left: 20px;
}
@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media only screen and (max-width: 960px) {
}
@media only screen and (max-width: 960px) {
  .btt {
    max-width: 50%;
    visibility: hidden;
  }
  .mlogin {
    visibility: hidden;
  }
  .nav-toggle {
    position: relative;
    display: block;
  }

  .nav-toggle:after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 20px;
    height: 20px;
    background-image: url("../images/navopen.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  .nav-toggle.open:after {
    background-image: url("../images/navclose.svg");
  }

  .btt {
    position: absolute;
    top: 40px;
    right: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50%;
    visibility: hidden;
  }
  .btt ul {
    align-items: center;
    align-self: center;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .btt ul li {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    width: 100%;
    text-align: center;
  }
  .show {
    visibility: visible;
    animation: slideInRight 0.5s ease-in-out forwards;
  }
}
.ul{
    text-align:center;
}
