* {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

#navbar {
  max-height: 100px;
  border: 2px solid #ccff99;
  display: flex;
  justify-content: space-between;
  position: fixed; 
  right: 0%;
  top: 0%;
  left: 0%;
  flex-direction: row;
  background-color: white
}
#navbar .logo img {
  max-width: 100%;
  height: 100px;
  border-radius: 10%;
  margin-left: 10px;
  /* transform: scale(2.1); */
  /* padding-left: 30px; */
  

}
nav {
  position: relative;
  margin-top: 30px;
}

nav > ul {
  display: flex;
  width: 500px;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-right: 10px;
  text-decoration: none;
}
a {
  text-decoration: none;
}

ul > li {
  list-style: none;
}

ul > li > a {
  text-decoration: none;
}

nav > ul > li > a:hover {
  color: #e69900;
}

nav > ul > li {
  position: relative;
}

nav > ul > li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: blue;
  transition: width 0.5s ease;
}

nav > ul > li:hover::after {
  width: 100%;
}

.hero-section {
  display: flex;
  padding-top: 100px;
}

.hero-section > div {
  flex: 1;
  padding: 10px;
}

.heroImage {
  border-radius: 10%;
}

.hero-background-image {
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-background-image > h1 {
  text-align: center; 
}

.hero-background-image .chat {
  padding: 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.hero-background-image .chat:hover {
  background-color: #ccff99;
  transition: background-color 0.5s ease-in-out;
}

.hero-background-image .nutriBR {
  color: #ccff99;
}

.mlogin {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #ccff99;
  outline: none;
  border-radius: 6px;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  margin-top: 25px;
  transition: 1.5s;
}
.mlogin:hover {
  background-color: #ccff99;
  color: #000;
}

.mealPlanForm {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  gap: 20px;
  flex: 1;
}
.mealPlanForm #inputForm,
#showMealDetail {
  width: 30%;
}

.mealPlanForm label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.mealPlanForm input[type="text"],
.mealPlanForm textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.mealPlanForm input[type="text"]::placeholder,
.mealPlanForm textarea::placeholder {
  color: #999;
}

#mealDescription {
  height: 150px;
}

.mealPlanForm #submitMeal,
#edit {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.mealPlanForm #submitMeal:hover,
.edit-btn:hover {
  background-color: #0056b3;
}

#devBox {
  width: 300px;
  height: 200px;
  border: 1px solid burlywood;
  position: relative;
}

#descCloseBtnBox #edit {
  width: 20%;
  position: absolute;
  top: 0px;
  right: 5px;
}

#viewDescriptionBox {
  margin-top: 5px;
  margin-left: 5px;
}

/* .delete-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
} */

.edit-btn {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #0056b3;
  border: none;
  color: white;
  margin-right: 5px;
  margin-top: 5px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  border: 1px solid #888;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.modal-content button {
  margin: 0 5px;
}

body .container {
  font-family: sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
  
}
form{
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.724);
  padding: 30px;
  padding-right: 37px;
  border-radius: 10px;
  text-align: center;
}
.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.724);
  display: flex;
}

.container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  margin-right: 10px;
  position: absolute;
  top: 70px;
}

.container label {
  display: block;
  margin-bottom: 5px;
}

.container input[type="text"],
.container input[type="email"],
.container input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 15px;
  outline-color: #4caf50;
}

.container button {
  background-color: #4caf50;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
  margin-left: 7px;
}

.container button:hover {
  opacity: 0.8;
}

.container a {
  color: #4caf50;
  text-decoration: none;
}

.close-outline {
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 30px;
  color: #999;
  cursor: pointer;
}

.input-icon {
  position: relative;
}

.input-icon input[type="text"] {
  padding-left: 5px;
}

.input-icon .icon {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-80%);
  pointer-events: none;
}
