<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/homepage.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="homepage">
      <section id="navbar">
        <div class="logo">
          <a href=""
            ><img src="static/images/NutriPlan_logo_without_BG.png" alt="Nutri Plan logo"
          /></a>
        </div>
        
        <div class="btt">
        <button class="btn">
            <a href="{{ url_for('auth.register') }}">REGISTER</a>
        </button>
        <button class="btn1" id="mealPlanDirection">
          <a href="{{ url_for('auth.login') }}">Login</a>
        </button>
        <button class="btn1" id="about-us">
          <a href="">About us</a>
        </button>
        </div>

      </section>
    </div>
    <section class="hero-section home-page-hero">
        <div class="hero-background-image-home">
          <img src=" static/images/202.png" alt="" class="display-image">
        
          <h1>FINALLY! YOUR<br> NUTRIPLANS<br>ARE TAILORED TO YOUR NEEDS.</h1>
        
        </div>
        <div >
          
            <p class="p">
              Maintaining an overall health and well-being</b>
                <br>  is easier done with NutriPlan, 
                    the SEARCH stops here</b>
                    
       </p>  


       
    </div>
    <button class="chat"><a href="{{ url_for('auth.login') }}"> Get started</a></button>
    </section>
  <section style="background-color: white;">
       <div class="extra">
        <img class="extra1" src="static\images\5 a Day, Fruit and Vegetable Weekly Tracker, Reward Tracker, Healthy Eating Planner - Etsy UK.jpg" alt="">
        <p class="p1">
          Maintaining an overall health and well-being</b>
            <br>  is easier done with NutriPlan, 
                the SEARCH stops here</b>
        </p>
     </div>

     <div class="extras">
     <p class="p2">
        Maintaining an overall health and well-being</b>
          <br>  is easier done with NutriPlan, 
              the SEARCH stops here</b>
      </p> 
      <img class="extra2" src="static\images\Animation - 1712313557786.gif" alt="">
      
      </div>
      <div id="cards">
        <div id="card1">
            <p id="card-text" class="c"><ion-icon name="happy-outline"></ion-icon><br>Great diet! great health<br> with NUTRIPLANS .
               <br> Watch your food <br>intake with us
            </p>
        </div>
        <div id="card1">
          
            <p id="card-text"><ion-icon  name="fast-food-outline"></ion-icon> <br> plan your meals with NUTRIPLANS</p>
        </div>
       
   
     <div id="card1" >
            <p id="card-text"><ion-icon name="book-outline"></ion-icon><br>
             safe eating !<br>safe consuming with<br> our NUTRIPLANS APP
            </p>
        
     </div>   </div>                          
  </section>
  <section class="sec3" >
    <div id="about-page"><footer>

    </footer>
    <h3>About Us</h3>
    <p>nutriplans is a website created to track foodintake<br> and consumption ,
      this is website is always at your service be rest<br> assured that your food intake wood be guided properly
    </p><br><hr>
    
      <h3>Contact Us</h3>
      <p>Email: info@nutriplanapp.com</p>
      <p>Phone: 123-456-7890</p>
  
      <p>&copy; 2024 NutriPlan App. All rights reserved.</p>
    </footer>
  </div>
    
  </section>
  </body>
  <script >
    var about =document.getElementById('about-us')
    var about_us = document.getElementById('about-page')
    about.addEventListener('click',function(e){
       e.preventDefault();
       smoothScroll();
    })
    const smoothScroll = () => {
  targetOffset = about_us.offsetTop;

  window.scrollTo({
    top: targetOffset,
    behavior: "smooth",
  });
};
  </script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</html>
