<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/homepage.css') }}"
    />
  </head>
  <body>
    <div class="homepage">
      <section id="navbar">
        <div class="logo">
          <a href=""
            ><img src="static/images/NutriPlanLogo.jpeg" alt="Nutri Plan logo"
          /></a>
        </div>
        <nav>
          <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="">FOOD</a></li>
            <li><a href="">INTAKE</a></li>
            <li><a href="" id="showMeal">MY MEAL</a></li>
          </ul>
        </nav>
        <button class="mlogin" id="mealPlanDirection">
          <a href="{{ url_for('auth.login') }}">Login Here</a>
        </button>
      </section>
    </div>
    <section></section>
  </body>
</html>
