<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <a href="{{ url_for('auth.home') }}">
        <ion-icon name="close-outline" class="close-outline"></ion-icon>
      </a>
      <h1>Login</h1><br>
      <form action="" enctype="multipart/form-data" method="post">
        <div>
          <label for="username">Username:</label>
          <div class="input-icon">
            {{ form.hidden_tag() }} {{ form.username(size=20,
            required="required") }}
            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}

            <span class="icon"
              ><ion-icon name="person-outline"></ion-icon
            ></span>
          </div>
        </div>
        <div>
          <div class="input-icon">
            <label for="password">Password:</label>
            {{ form.password(size=20, required="required") }}
            <span class="eyel"
              ><ion-icon id="icon" name="eye-outline"></ion-icon></span>
          </div>
        </div>

        <button type="submit">Login</button>
        <!-- <div><p> {{ form.remember_me.label }} {{ form.remember_me() }}</p></div> -->
        <p>
          Don't have an account?
          <a href="{{ url_for('auth.register') }}">Register Here</a>
        </p>
        <p>
          <a href="{{ url_for('auth.reset_password_request') }}"
            >Forget password
          </a>
        </p>
        <p>
          <a href="{{ url_for('auth.index')}}" title="Go to homepage"
            >Back to homepage</a
          >
        </p>
      </form>
    </div>
    
  </body>
  <script >
        var icon = document.getElementById('icon');
        var  password = document.getElementById('password')
        icon.addEventListener('click',function(){
          if (password.type === 'password'){
            password.type ='text'
            icon.name="eye-off-outline"
          }
          else{
            password.type ='password'
            icon.name="eye-outline"
          }
        })
    </script>
</html>
<script
  type="module"
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
></script>
<script
  nomodule
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
></script>
