<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register Page</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <!-- <a href="{{ url_for('auth.index')}}" title="Go to homepage">Homepage</a> -->
      <a href="{{ url_for('auth.home') }}">
        <ion-icon name="close-outline" class="close-outline"></ion-icon>
      </a>

      <h1>Register</h1>
      <form action="#">
        <div>
          <label for="username">Username:</label>
          <div class="input-icon">
            <input
              type="text"
              id="username"
              name="username"
              required
              
            />
            <span class="icon"
              ><ion-icon name="person-outline"></ion-icon
            ></span>
          </div>
        </div>
        <div>
          <label for="email">Email:</label>
          <div class="input-icon">
            <input
              type="text"
              id="email"
              name="email"
              required
            />
            <span class="icon"><ion-icon name="mail-outline"></ion-icon></span>
          </div>
        </div>
        <div>
          <div class="input-icon">
            <label for="password">Password:</label>
            <input
              type="password"
              id="password"
              name="password"
              required
            
            /> 
            <span class="eye"
              ><ion-icon id="icon" name="eye-outline"></ion-icon
            ></span>

            {% for error in form.password.errors %}
                    <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
           {{ form.password2.label }} {{ form.password2(size=20, required="required") }}</p> 
            <span class="eye1" ><ion-icon id="icon1" name="eye-outline">
                
            </ion-icon></span>
            {% if form.password2.errors %}
            
            
       <ul class="errors">
           {% for error in form.password2.errors %}
               <li>{{ error }}</li>
           {% endfor %}
       </ul>
       {% endif %}
           
          </div>
        </div>

        <button type="submit">Register</button>
        <p>
          Already have an account?
          <a href="{{ url_for('auth.login') }}">Login Here</a>
        </p>
        <p>
          <a href="{{ url_for('auth.index')}}" title="Go to homepage"
            >Back to homepage</a
          >
        </p>
      </form>
    </div>
  </body>
  <script>
    let icon = document.getElementById("icon");
    let password = document.getElementById("password");
    icon.addEventListener("click", function () {
      if (password.type === "password") {
        password.type = "text";
        icon.name = "eye-off-outline";
      } else {
        password.type = "password";
        icon.name = "eye-outline";
      }
    });
  </script>
</html>

<script
  type="module"
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
></script>
<script
  nomodule
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
></script>
