*{
    margin: 0;
    padding: 0;
    max-width: 100%;
}

#navbar{
    max-height: 100px;
    border: 2px solid #ccff99;
    display: flex;
    justify-content: space-between;
    position: fixed;
    right: 0%;
    top: 0%;
    left: 0%;
    
}
#navbar .logo img{
    max-width: 100%;
    height: 100px;
    border-radius: 10%;
    margin-left: 10px;
}
nav{
    position: relative;
    margin-top: 30px;
}

nav>ul{
    display: flex;
    width: 500px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-right: 10px;
    text-decoration: none;
}

ul>li{
    list-style: none;
}

ul>li>a{
    text-decoration: none;
}

nav>ul>li>a:hover{
    color: #e69900;

}

nav > ul > li {
    position: relative;
}

nav > ul > li::after {
    content: ''; 
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0; 
    height: 2px;
    background-color: blue;
    transition: width 0.5s ease;
}

nav > ul > li:hover::after {
    width: 100%;
}

.hero-section{
    display: flex;
    padding-top: 100px;
}

.hero-section>div{
    flex: 1;
    padding: 10px;
}

.heroImage{
    border-radius: 10%;
}

.hero-background-image{
    display: flex;
    /* background-image: url(./images/nutriimage2.jpeg); */
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-background-image>h1{
    text-align: center;
  
}

.hero-background-image button{
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.hero-background-image button:hover{
    background-color: #ccff99;
    transition: background-color 0.5s ease-in-out;
    /* color: white; */
}

 .hero-background-image .nutriBR{
    color: #ccff99;
}

#mealPlanDirection{
    height: 80px;
    width: 100px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.mealPlanForm {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.mealPlanForm label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.mealPlanForm input[type="text"],
.mealPlanForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.mealPlanForm input[type="text"]::placeholder,
.mealPlanForm textarea::placeholder {
    color: #999;
}

#mealDescription{
    height: 150px;
}

.mealPlanForm button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.mealPlanForm button:hover {
    background-color: #0056b3;
}